{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
  <div class="affx-hero d-flex justify-content-between align-items-center">
    <div>
      <div class="title h5 mb-1">Détail de l’affectation</div>
      <div class="subtitle">N° {{ a.NumeroAffectation }}</div>
    </div>

    {# Actions à droite #}
    <div class="d-flex align-items-center gap-2">
      <a href="{% url 'affectations:list' %}" class="btn affx-btn-outline">
        <i class="fas fa-arrow-left me-2"></i>Retour
      </a>

      {# Export Excel (pour publipostage) #}
      <a class="btn btn-outline-success"
     href="{% url 'affectations:export_excel' num=a.NumeroAffectation|slice:':3' annee=a.NumeroAffectation|slice:'4:' %}">
    <i class="fa-regular fa-file-excel me-1"></i> Exporter Excel
  </a>


      {# Menu Word #}
      
    </div>
  </div>

  <div class="affx-card p-3 mt-3">
    <div class="row g-3">
      <div class="col-md-3"><strong>N° Affectation</strong><div>{{ a.NumeroAffectation }}</div></div>
      <div class="col-md-3"><strong>Matricule</strong><div>{{ a.Matricule }}</div></div>
      <div class="col-md-3"><strong>Nom</strong><div>{{ agent.Nom }}</div></div>
      <div class="col-md-3"><strong>Prénom</strong><div>{{ agent.Prenom }}</div></div>
    </div>
  </div>

  <div class="row g-3 mt-1">
    <div class="col-md-6">
      <div class="affx-card p-3 h-100">
        <div class="h6 mb-3">Partie ANCIENNE</div>
        <div><strong>Affectation (Code)</strong> : {{ a.CodeEntiteAncien }}</div>
        <div><strong>Affectation (Libellé)</strong> : {{ a.LibelleEntiteAncien }}</div>
        <div><strong>Date Affectation</strong> : {{ a.DateAffectationAncien|date:"d/m/Y" }}</div>
        <hr>
        <div><strong>Fonction (Code)</strong> : {{ a.CodeFonctionAncien }}</div>
        <div><strong>Fonction (Libellé)</strong> : {{ a.LibelleFonctionAncien }}</div>
        <div><strong>Date Fonction</strong> : {{ a.DateFonctionAncien|date:"d/m/Y" }}</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="affx-card p-3 h-100">
        <div class="h6 mb-3">Partie NOUVELLE</div>
        <div><strong>Affectation (Code)</strong> : {{ a.CodeEntiteNouveau }}</div>
        <div><strong>Affectation (Libellé)</strong> : {{ a.LibelleEntiteNouveau }}</div>
        <div><strong>Date Affectation</strong> : {{ a.DateAffectationNouveau|date:"d/m/Y" }}</div>
        <hr>
        <div><strong>Fonction (Code)</strong> : {{ a.CodeFonctionNouveau }}</div>
        <div><strong>Fonction (Libellé)</strong> : {{ a.LibelleFonctionNouveau }}</div>
        <div><strong>Date Fonction</strong> : {{ a.DateFonctionNouveau|date:"d/m/Y" }}</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
